
@headercolor : #000;

@buttoncolor : #3cbbf5;

html{
  font-family: 'Roboto', sans-serif;
  background-color: @headercolor;
}

.button{
  background-color: @buttoncolor;
}

h1{
  font-size: 25px;

}
