<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://ec2-35-156-1-159.eu-central-1.compute.amazonaws.com:3306/flight_booking</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">codersbay</property>
        <property name="connection.password">cB2020!*</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="dao.AirportEntity"/>

        <!-- DB schema will be updated if needed -->
        <!--<property name="hibernate.hbm2ddl.auto">update</property> -->

    </session-factory>
</hibernate-configuration>