//---------------- GENERAL ----------------//
.greyBg {
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 1px #000000;
  border-radius: 20px;
}

.bgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url("../IMAGES/cloud_bg.jpg");
  background-image: url("../IMAGES/aircraft.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttonRow{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

//---------------- POP UP LOGIN + REGISTER ----------------//

.popUp {
  display: none;
  height: 40vh;
  width: 50%;
  background-color: #cccccc;
  border-radius: 40px;
  text-align: center;
  opacity: 0.9;
  border: solid 1px #000000;
}

.loginInput {
  margin: 1.5vh;
  padding: 1.2vh 1.4vh;
}

.link {
  text-decoration: none;
}

.registerContainer {
  border: solid 2px #000000;
  margin: 8vh 0vh;
  width: 50%;
  background-color: #cccccc;
  opacity: 0.9;
}

.registerH1 {
  margin: 0px 0px 3vh 0px;
  padding: 3vh;
  background-color: #000000;
  color: #ffffff;
}

.formHead {
  background-color: #cccccc;
}

.formContainer {
  text-align: center;
}

.inputRegister {
  padding: 1.2vh 1.4vh;
  margin: 1vh;
}

form {
  > div{
    width: 100%;
  }
}


//---------------- FLIGHT SEARCH ----------------//
.flightSearchContainer{
  height: 45vh;
}

.dropdownContainer{
  position: relative;
  .dropdownList{
    width: 100%;
    max-height: 14vh;
    background: #ffffff;
    position: absolute;
    display: none;
    overflow-x: auto;
    font-size: 1.5rem;
    z-index: 100;
    border: 1px solid black;
    li{
      padding: 15px;
      &:hover{
        background: #89d4e7;
      }
    }
  }
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid black;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: rgb(255, 144, 0);
  height: 5.5vh;
  color: white;
  min-width: 80px;
  text-align: center;
}

.input, #startDate, select {
  width: 100%;
  height: 5.5vh;
  padding: 1vh 1vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

.input::placeholder{
  color: rgb(255, 144, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

select > option{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}


// ---- SEAT SELECT ---- //
.seatAllContainer{
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  height: 70vh;
  text-align: center;
  margin-right: 0px;
}

.seatAllContainer::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}
.seatAllContainer::-webkit-scrollbar-track {

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, 0.6);

}
.seatAllContainer::-webkit-scrollbar-thumb {

  background-color: rgb(255, 144, 0,);
  border-radius: 8px;
}
.seatResult{
  height: 68vh;
  width: 50%;
  text-align: center;
  margin-right: 0px;
}

#seatBusinessContainer, #seatEconomyContainer, #passengerData{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  //overflow-x: auto;
  padding: 2px 2px;
  z-index: 100;
  > div{
    padding: 0px;
  }
}

.rowNumber{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.rowBusiness, .rowEconomy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.seatBusiness, .seatEconomy {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 5vh;
  height: 5vh;
  margin: 5px 2px;
  z-index: 99;
  transition: all 200ms;
}

.seatBusiness {
  //background: rgba(50, 128, 20, 0.7);
  background: rgb(0, 33, 250);
}

.seatEconomy {
  background: rgb(255, 144, 0);
}

.seatBusiness:nth-child(2){
  margin-right: 60px;
}

.select{
  background-color: #000000;
  pointer-events: none;
}

.seatBusiness:nth-child(5),seatBusiness:nth-child(6) {
  margin-left: 60px;
}

.seatEconomy:nth-child(3) {
  margin-right: 60px;
}
.seatEconomy:nth-child(6) {
  margin-right: 60px;
}

#seatBusinessResult{
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#seatBusinessResult > div, #seatEconomyResult > div{
  height: 5vh;
  width: 5vh;
  color: #eeeeee;
  background-color: black;
  border-radius: 10px;
  margin: 5px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seatTaken{
  background: #ea5151;
  opacity: 0.2;
}

.seatFree:hover{
  cursor: pointer;
  background-color: #51b6ea;
  transition: all 200ms;
}

//---------------- FLIGHT SELECT ----------------//

input[type='radio']
{
  transform: scale(1.25);
}

.flightContainer{
  height: 70vh;
  overflow-x: auto;

}

.flightContainer::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}
.flightContainer::-webkit-scrollbar-track {

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, 0.6);

}
.flightContainer::-webkit-scrollbar-thumb {

  background-color: rgb(255, 144, 0,);
  border-radius: 8px;
}


.flights {
  background-color: #000000;
  padding: 1vh 4vw;
}

.noFlights{
  background-color: #000000;
  padding: 3vh 5vw;
}

.economy {
  background: rgb(255, 144, 0);
  padding: 1vh 4vw;
  width: 20vw;
}

.business {
  //background: rgb(50, 128, 20);
  background: rgb(0, 33, 250);
  padding: 1vh 4vw;
  width: 20vw;
}

table, th, td {
  border: 1px solid #555555;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
}

table {
  margin: 5vh;
  font-family: 'Roboto', sans-serif;
  color: #eeeeee;
}

th {
  padding: 30px;
  font-size: 1.25rem;
}

input.checkbox {
  width: 2vw;
  height: 2vh;
  margin: 1vw;
}

.checkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul li{
  padding: 1vh;
  list-style: none;
  font-weight: bold;
}


//---------------- PAYMENT ----------------//
.paymentInput {
  padding: 1vh 5vw;
  margin: 0.2vh;
}

.paymentContainer {
  height: 70vh;
  overflow-y: auto;
}

.paymentContainer::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}
.paymentContainer::-webkit-scrollbar-track {

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, 0.6);

}
.paymentContainer::-webkit-scrollbar-thumb {

  background-color: rgb(255, 144, 0,);
  border-radius: 8px;
}

.passengerRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.passengerForm{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

//---------------- TICKET ----------------//
.ticketRow{
  align-items: center;
  justify-content: center;
}

#ticketMain{
  display: flex;
  flex-direction: column;
}

#ticketAllContainer{
  height: 70vh;
  overflow-x: auto;
}

#ticketAllContainer::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5;
}
#ticketAllContainer::-webkit-scrollbar-track {

  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, 0.6);

}
#ticketAllContainer::-webkit-scrollbar-thumb {

  background-color: rgb(255, 144, 0,);
  border-radius: 8px;
}

.container.ticketContainer{
  width: 900px;
  height: max-content;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: rgb(0, 0, 0);
  border: solid 1px #000000;
  border-radius: 25px;
}

//--------------- ORDER OVERVIEW ---------------//

.overview {
  color: #eeeeee;
  margin: 1vh 0vh;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insurance {
  list-style: disc;
}

.insuranceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.disNone {
  display: none;
}

.line {
  width: 25vw;
  height: 0.5vh;
  background-color: #ff9000;
}

.big {
  font-size: 1.5rem;
}


//---------------- FONT AWESOME ----------------//
.fa-user {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 10px;
}

.fas fa-plane-departure{
  height: 5vh;
  color: #ffffff;
  font-size: 1.2rem;
}

.fa-plane {
  font-size: 4rem;
  color: #eeeeee;
}

.fa-male {
  font-size: 2rem;
}

.fa-id-card {
  margin: 1vh;
  font-size: 1.2rem;
}

.fa-calendar-alt {
  font-size: 1.5rem;
}

.fa-times {
  font-size: 1.5rem;
  float: right;
}

.fa-times:hover {
  color: #f50606;
  transition: 400ms;
  cursor: pointer;
}

.fa-shield-alt {

  font-size: 4rem;
  color: #eeeeee;
}

.fa-check-circle{
  color: #eeeeee;
  font-size: 2rem;
}